* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3a8a 0%, #7c3aed 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}
/* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 80px;
            background: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(10px);
            color: #333;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        .logo h1 {
            font-size:30px;
            color: #080808;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 30px;
            align-items: center;
        }

        .nav-links a {
            text-decoration: none;
            color: #444;
            font-size: 20px ;
            font-weight: 500;
            transition: 0.3s;
        }

        .nav-links a:hover {
            color: #c14244;
        }

        .login-btn {
            background: #6f42c1;
            color: white !important;
            padding: 8px 20px;
            border-radius: 20px;
            transition: 0.3s ease;
        }

        .login-btn:hover {
            background: #ca202b;
            transform: translateY(-2px);
        }



/* Header */
.header {
    text-align: center;
    padding-top: 30PX;
    margin-bottom: 35px;
}

.header h1 {
    font-size: 40px;
    text-box : bold;
    color: #0b0b0b;
    font-weight: 600;
}

.header p {
    color: #090909;
    margin-top: 6px;
    font-size: 20px;
}

/* Card */
.form-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    width: 750px;
    max-width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.form-card:hover {
    transform: translateY(-3px);
}

/* 2 column layout */
.row {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 16px;
    text : bold;
    font-weight: 600;
    margin-bottom: 6px;
    color: #222;
}

.input-box input {
    padding: 11px;
    border-radius: 8px;
    border: 2px solid #414040;
    background: #f9f9f9;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-box input:focus {
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.3);
    background: #fff;
    outline: none;
}

.input-box select {
    padding: 11px;
    border-radius: 8px;
    border: 2px solid #414040;
    background: #f9f9f9;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-box select:focus {
    border-color: #6f42c1;
    box-shadow: 0 0 8px rgba(111, 66, 193, 0.3);
    background: #fff;
    outline: none;
}


/* Button */
.btn {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #5bc0de, #8e2de2);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

.login-link {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.login-link a {
    color: #6f42c1;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 15px;
    }

    .form-card {
        padding: 25px;
    }
}
